<!DOCTYPE html>
<html lang="zh-hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
</head>
<body>
  <div class="container">
    <div class="pb-3">
      <div class="card">
        <div class="card-header">
          {% block header %}{% endblock %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{% block title2 %}{% endblock %}</h5>
          <p class="card-text">{% block text %}{% endblock %}</p>
          <!-- <a href="#" class="btn btn-primary">{% block href %}{% endblock %}</a> -->
        </div>
      </div>
    </div>
  </div>


  {% block scripts %}

  {% endblock %}

</body>
</html>